.main_navigation_strip {
  background-color: rgba(123, 174, 55, 1);
  width: 100;
}

.main_navigation_strip a {
  text-decoration: none;
  color: white;
  padding: 10px 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.22);
}

.main_navigation_strip a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: white;
}

.cs_initial_border {
  border-left: 1px solid rgba(255, 255, 255, 0.22);
}
